
.bg-custom {
  background-color: rgb(65, 2, 86); 
}


.nav-btn {
  margin-left: 15px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: #e1e4e8;
  color: black;
}
